# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\jbky\OneDrive - GFT Technologies SE\Desktop\JUnit Mockito Udemy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/unit-testing-java.iml
/target/
